<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Complete Add New User</title>
    </head>
    <body>
        <div>
            <h1>User Added Successfully</h1>
            <p>User ID : <span th:text="${user.id}"></span></p>
            <p>User Name : <span th:text="${user.name}"></span></p>
            <p>E-Mail Address: <span th:text="${user.email}"></span></p>
        </div>
        <div><a th:href="@{/user/all}">Back to index</a></div>
        <div><a th:href="@{/home}">Home</a></div>
    </body>
</html>
