<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete Edit User</title>
</head>
<body>
    <div th:object="${user}">
        <h1>User Edited Successfully</h1>
        <p>User ID : <span th:text="*{id}"></span></p>
        <p>User Name : <span th:text="*{name}"></span></p>
        <p>E-Mail Address: <span th:text="*{email}"></span></p>
    </div>
    <div><a th:href="@{/user/all}">Back to index</a></div>
    <div><a th:href="@{/home}">Home</a></div>
</body>
</html>